body,
h1,
h2,
p,
ul,
ol,
li,
figure,
table,
th,
td {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}


body {
  font-family: 'Arial', sans-serif;
  color: #333;
  background-color: #f4f4f4;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
    display: flex;
    flex-direction: column; 
    padding: 20px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: auto;
  }

main > section {
  padding: 100px;
}



header {
  background-color:#0074d9;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header a {
  text-decoration: none;  
  transition: color 0.3s ease-in-out;  
}

header h1{

    font-size: 20px;
}
header h2 {
    font-size: 15px;
    text-decoration: none;
    color: white;
  }
  
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: auto;
}
